.ripple-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%; /* Adjust width to cover only the left half */
    height: 100%;
  }
  
  .circle {
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
  }
  
  small {
    width: 10vw;
    height: 10vw;
    left: -5vw;
    bottom: -5vw;
  }
  
  .medium {
    width: 20vw;
    height: 20vw;
    left: -10vw;
    bottom: -10vw;
  }
  
  .large {
    width: 30vw;
    height: 30vw;
    left: -15vw;
    bottom: -15vw;
  }
  
  .xlarge {
    width: 40vw;
    height: 40vw;
    left: -20vw;
    bottom: -20vw;
  }
  
  .xxlarge {
    width: 50vw;
    height: 50vw;
    left: -25vw;
    bottom: -25vw;
  }
  
  .shade1 {
    opacity: 0.2;
  }
  
  .shade2 {
    opacity: 0.5;
  }
  
  .shade3 {
    opacity: 0.7;
  }
  
  .shade4 {
    opacity: 0.8;
  }
  
  .shade5 {
    opacity: 0.9;
  }
  
  @keyframes ripple {
    0% {
      transform: scale(0.8);
    }
  
    50% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(0.8);
    }
  }
  