@font-face {
  font-family: "Hendangan";
  src: url("../../public/fonts/Hendangan.ttf") format("truetype");
}

.top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }

  .title_text {
    font-family: "Hendangan";
    font-size: 20px;
    color: #FF4141;
  }
  

  .user_info {
    font-size: 16px;
  }
  

  .logout_button button {
    background-color: #c82333;
    color: #fff;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Hover effect for logout button */
  .logout_button button:hover {
    background-color: #8f1824;
  }